@import "variables";

// TEXTS COLORS

.text-muted {
  color: $gray;
}

.text-primary {
  color: $primary;
}

.text-secondary {
  color: $dark-gray;
}

.text-success {
  color: $success;
}

.text-info {
  color: $info;
}

.text-warning {
  color: $warning;
}

.text-error {
  color: $error;
}

// BACKGROUNDS COLORS

.bg-gray {
  background-color: $gray;
  color: white;
}

.bg-primary {
  background-color: $primary;
  color: white;
}

.bg-secondary {
  background-color: $dark-gray;
  color: white;
}

.bg-success {
  background-color: $success;
  color: white;
}

.bg-info {
  background-color: $info;
  color: white;
}

.bg-warning {
  background-color: $warning;
  color: $dark-gray;
}

.bg-error {
  background-color: $error;
  color: white;
}

.bg-light {
  background-color: $light;
  color: $dark-gray;
}


