@use "sass:math";
@import "variables";

// CONTAINER

.container {
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.container-fluid {
  width: 100%;
}
/*
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }

  .container-sm {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }

  .container-sm {
    max-width: 720px;
  }

  .container-md {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }

  .container-sm {
    max-width: 960px;
  }

  .container-md {
    max-width: 960px;
  }

  .container-lg {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }

  .container-sm {
    max-width: 1140px;
  }

  .container-md {
    max-width: 1140px;
  }

  .container-lg {
    max-width: 1140px;
  }

  .container-xl {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }

  .container-sm {
    max-width: 1320px;
  }

  .container-md {
    max-width: 1320px;
  }

  .container-lg {
    max-width: 1320px;
  }

  .container-xl {
    max-width: 1320px;
  }

  .container-xxl {
    max-width: 1320px;
  }
}*/