$col--height: 20px;
$col--border: 1px solid black;

$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1140px,
        xxl: 1320px
);

/* CONTAINER */

/* Container */
.container {
  width: 100%;
  margin: 0 auto;
}

/* Container sm */
.container-sm {
  width: 100%;
  margin: 0 auto;
}

/* container md */
.container-md {
  width: 100%;
  margin: 0 auto;
}

/* Container lg */
.container-lg {
  width: 100%;
  margin: 0 auto;
}

/* Container xl */
.container-xl {
  width: 100%;
  margin: 0 auto;
}

/* Container xxl */
.container-xxl {
  width: 100%;
  margin: 0 auto;
}

.container-fluid {
  width: 100%;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }

  .container-sm {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }

  .container-sm {
    max-width: 720px;
  }

  .container-md {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }

  .container-sm {
    max-width: 960px;
  }

  .container-md {
    max-width: 960px;
  }

  .container-lg {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }

  .container-sm {
    max-width: 1140px;
  }

  .container-md {
    max-width: 1140px;
  }

  .container-lg {
    max-width: 1140px;
  }

  .container-xl {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }

  .container-sm {
    max-width: 1320px;
  }

  .container-md {
    max-width: 1320px;
  }

  .container-lg {
    max-width: 1320px;
  }

  .container-xl {
    max-width: 1320px;
  }

  .container-xxl {
    max-width: 1320px;
  }
}

/* ROWS */

.row {
  display: flex;
}

.row-col-auto {
  display: block;
}

.row-col-2 {
  display: block;
  flex:0 0 auto;
  width:50%;
}

/* COLUMNS */

.col {
  background-color: rgb(random(255),random(255),random(255));
  border: $col--border;
  height: $col--height;
}


.col-1 {
  background-color: rgb(random(255),random(255),random(255));
  border: $col--border;
  width: 12%;
  height: $col--height;
}

.col-2 {
  background-color: rgb(random(255),random(255),random(255));
  border: $col--border;
  width: 20%;
  height: $col--height;
}

.col-3 {
  background-color: rgb(random(255),random(255),random(255));
  border: $col--border;
  width: 25%;
  height: $col--height;
}

.col-4 {
  background-color: rgb(random(255),random(255),random(255));
  border: $col--border;
  width: 34%;
  height: $col--height;
}

.col-6 {
  background-color: rgb(random(255),random(255),random(255));
  border: $col--border;
  width: 50%;
  height: $col--height;
}

.col-8 {
  background-color: rgb(random(255),random(255),random(255));
  border: $col--border;
  width: 66%;
  height: $col--height;
}

.col-10 {
  background-color: rgb(random(255),random(255),random(255));
  border: $col--border;
  width: 80%;
  height: $col--height;
}

.col-12 {
  background-color: #b78c18;
  border: 1px solid black;
  width: 100%;
  height: 20px;
}
