.col-1 {
  background-color: #cb0616;
  border: 1px solid black;
  height: 20px;
  box-sizing: border-box;
  flex-grow: 0;
  width: 8.3333333333%;
}

.col-2 {
  background-color: #b2dcf3;
  border: 1px solid black;
  height: 20px;
  box-sizing: border-box;
  flex-grow: 0;
  width: 16.6666666667%;
}

.col-3 {
  background-color: #38312b;
  border: 1px solid black;
  height: 20px;
  box-sizing: border-box;
  flex-grow: 0;
  width: 25%;
}

.col-4 {
  background-color: #445694;
  border: 1px solid black;
  height: 20px;
  box-sizing: border-box;
  flex-grow: 0;
  width: 33.3333333333%;
}

.col-5 {
  background-color: #89e403;
  border: 1px solid black;
  height: 20px;
  box-sizing: border-box;
  flex-grow: 0;
  width: 41.6666666667%;
}

.col-6 {
  background-color: #15cfc9;
  border: 1px solid black;
  height: 20px;
  box-sizing: border-box;
  flex-grow: 0;
  width: 50%;
}

.col-7 {
  background-color: #70dd10;
  border: 1px solid black;
  height: 20px;
  box-sizing: border-box;
  flex-grow: 0;
  width: 58.3333333333%;
}

.col-8 {
  background-color: #703f46;
  border: 1px solid black;
  height: 20px;
  box-sizing: border-box;
  flex-grow: 0;
  width: 66.6666666667%;
}

.col-9 {
  background-color: #4f0758;
  border: 1px solid black;
  height: 20px;
  box-sizing: border-box;
  flex-grow: 0;
  width: 75%;
}

.col-10 {
  background-color: #3dffeb;
  border: 1px solid black;
  height: 20px;
  box-sizing: border-box;
  flex-grow: 0;
  width: 83.3333333333%;
}

.col-11 {
  background-color: #218ea2;
  border: 1px solid black;
  height: 20px;
  box-sizing: border-box;
  flex-grow: 0;
  width: 91.6666666667%;
}

.col-12 {
  background-color: #56c765;
  border: 1px solid black;
  height: 20px;
  box-sizing: border-box;
  flex-grow: 0;
  width: 100%;
}

@media (min-width: 0) {
  .col-xs-1 {
    background-color: #dbaf3b;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }

  .col-xs-2 {
    background-color: #386962;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }

  .col-xs-3 {
    background-color: #0ac855;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }

  .col-xs-4 {
    background-color: #66a33f;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }

  .col-xs-5 {
    background-color: #64fd8b;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }

  .col-xs-6 {
    background-color: #ad6364;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }

  .col-xs-7 {
    background-color: #8d5ddb;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }

  .col-xs-8 {
    background-color: #0b3725;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }

  .col-xs-9 {
    background-color: #2a4dee;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }

  .col-xs-10 {
    background-color: #c1f66f;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }

  .col-xs-11 {
    background-color: #23ae72;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }

  .col-xs-12 {
    background-color: #5b5de5;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }

  .container-xs {
    width: 100%;
    margin: 0 auto;
  }
}
@media (min-width: 576px) {
  .col-sm-1 {
    background-color: #0b9e78;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }

  .col-sm-2 {
    background-color: #ef03a9;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }

  .col-sm-3 {
    background-color: #0d42d7;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }

  .col-sm-4 {
    background-color: #6164fb;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }

  .col-sm-5 {
    background-color: #dcaec2;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }

  .col-sm-6 {
    background-color: #f8fd36;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }

  .col-sm-7 {
    background-color: #314abe;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }

  .col-sm-8 {
    background-color: #0bb30c;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }

  .col-sm-9 {
    background-color: #e6ec67;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }

  .col-sm-10 {
    background-color: #1b1c2d;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }

  .col-sm-11 {
    background-color: #ca66dd;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }

  .col-sm-12 {
    background-color: #4df63d;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }

  .container-sm {
    width: 100%;
    margin: 0 auto;
  }
}
@media (min-width: 768px) {
  .col-md-1 {
    background-color: #02ca9e;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }

  .col-md-2 {
    background-color: #b54d3a;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }

  .col-md-3 {
    background-color: #8eb562;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }

  .col-md-4 {
    background-color: #fd8601;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }

  .col-md-5 {
    background-color: #2e2e97;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }

  .col-md-6 {
    background-color: #86aeb4;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }

  .col-md-7 {
    background-color: #335725;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }

  .col-md-8 {
    background-color: #ae3085;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }

  .col-md-9 {
    background-color: #38b0cd;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }

  .col-md-10 {
    background-color: #184756;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }

  .col-md-11 {
    background-color: #26d7df;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }

  .col-md-12 {
    background-color: #33cb33;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }

  .container-md {
    width: 100%;
    margin: 0 auto;
  }
}
@media (min-width: 992px) {
  .col-lg-1 {
    background-color: #fc66d3;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }

  .col-lg-2 {
    background-color: #72a645;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }

  .col-lg-3 {
    background-color: #4376bd;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }

  .col-lg-4 {
    background-color: #ccc4ad;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }

  .col-lg-5 {
    background-color: #5e9f4a;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }

  .col-lg-6 {
    background-color: #087977;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }

  .col-lg-7 {
    background-color: #b51db5;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }

  .col-lg-8 {
    background-color: #1a3030;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }

  .col-lg-9 {
    background-color: #60309c;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }

  .col-lg-10 {
    background-color: #04dc79;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }

  .col-lg-11 {
    background-color: #fd5f9b;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }

  .col-lg-12 {
    background-color: #c1942b;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }

  .container-lg {
    width: 100%;
    margin: 0 auto;
  }
}
@media (min-width: 1200px) {
  .col-xl-1 {
    background-color: #36e0b8;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }

  .col-xl-2 {
    background-color: #1a48f9;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }

  .col-xl-3 {
    background-color: #8a53a6;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }

  .col-xl-4 {
    background-color: #99e634;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }

  .col-xl-5 {
    background-color: #5fb7bc;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }

  .col-xl-6 {
    background-color: #aceae8;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }

  .col-xl-7 {
    background-color: #95da88;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }

  .col-xl-8 {
    background-color: #ac3c5a;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }

  .col-xl-9 {
    background-color: #0d8e4d;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }

  .col-xl-10 {
    background-color: #2041af;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }

  .col-xl-11 {
    background-color: #4c6f61;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }

  .col-xl-12 {
    background-color: #6c9ae3;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }

  .container-xl {
    width: 100%;
    margin: 0 auto;
  }
}
@media (min-width: 1400px) {
  .col-xxl-1 {
    background-color: #7f4a7d;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }

  .col-xxl-2 {
    background-color: #9630c3;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }

  .col-xxl-3 {
    background-color: #55ca3f;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }

  .col-xxl-4 {
    background-color: #1e330b;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }

  .col-xxl-5 {
    background-color: #6489cd;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }

  .col-xxl-6 {
    background-color: #a4f5ae;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }

  .col-xxl-7 {
    background-color: #de72ca;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }

  .col-xxl-8 {
    background-color: #7a5467;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }

  .col-xxl-9 {
    background-color: #291a7e;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }

  .col-xxl-10 {
    background-color: #3fadfe;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }

  .col-xxl-11 {
    background-color: #dd0927;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }

  .col-xxl-12 {
    background-color: #56c0c8;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }

  .container-xxl {
    width: 100%;
    margin: 0 auto;
  }
}
.row {
  display: flex;
  flex-flow: row wrap;
}

.col {
  background-color: #eb9347;
  flex: 1 0 0%;
  border: 1px solid black;
  height: 20px;
  box-sizing: border-box;
  flex-grow: 0;
}

.error {
  color: #d32752;
  border-color: #d32752;
  border-style: solid;
}

.notification {
  color: #1ac888;
  border-color: #1ac888;
  border-style: solid;
}

.container {
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

.container-fluid {
  width: 100%;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }

  .container-sm {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }

  .container-sm {
    max-width: 720px;
  }

  .container-md {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }

  .container-sm {
    max-width: 960px;
  }

  .container-md {
    max-width: 960px;
  }

  .container-lg {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }

  .container-sm {
    max-width: 1140px;
  }

  .container-md {
    max-width: 1140px;
  }

  .container-lg {
    max-width: 1140px;
  }

  .container-xl {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }

  .container-sm {
    max-width: 1320px;
  }

  .container-md {
    max-width: 1320px;
  }

  .container-lg {
    max-width: 1320px;
  }

  .container-xl {
    max-width: 1320px;
  }

  .container-xxl {
    max-width: 1320px;
  }
}
.disabled {
  color: #6c757d;
  cursor: not-allowed;
}

.btn {
  height: 32px;
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 3px;
  border: solid 1px #6c757d;
}

.btn-success {
  background: #1ac888;
}
.btn-success:hover {
  background: #15a46f;
  transition: all 0.3s ease;
}
.btn-success:active {
  border: solid 2px #0b573b;
  background: #0b573b;
}

.btn-primary {
  background: #007bff;
}
.btn-primary:hover {
  background: #0067d6;
  transition: all 0.3s ease;
}
.btn-primary:active {
  border: solid 2px #003e80;
  background: #003e80;
}

.btn-secondary {
  background: #6c757d;
}
.btn-secondary:hover {
  background: #596167;
  transition: all 0.3s ease;
}
.btn-secondary:active {
  border: solid 2px #313539;
  background: #313539;
}

.btn-warning {
  background: #ffc107;
}
.btn-warning:hover {
  background: #dda600;
  transition: all 0.3s ease;
}
.btn-warning:active {
  border: solid 2px #876500;
  background: #876500;
}

.btn-danger {
  background: #d32752;
}
.btn-danger:hover {
  background: #b12145;
  transition: all 0.3s ease;
}
.btn-danger:active {
  border: solid 2px #671328;
  background: #671328;
}

.btn-info {
  background: #17a2b8;
}
.btn-info:hover {
  background: #128294;
  transition: all 0.3s ease;
}
.btn-info:active {
  border: solid 2px #093e47;
  background: #093e47;
}

.btn-light {
  background: #f8f9fa;
  color: #343a40;
}
.btn-light:hover {
  background: #e0e5e9;
  transition: all 0.3s ease;
}
.btn-light:active {
  border: solid 2px #aeb9c5;
  background: #aeb9c5;
}

.btn-dark {
  background: #343a40;
}
.btn-dark:hover {
  background: #222629;
  transition: all 0.3s ease;
}
.btn-dark:active {
  border: solid 2px black;
  background: black;
}

.btn-link {
  background: rgba(0, 0, 0, 0);
  color: #007bff;
  border: none;
  text-decoration: underline;
  cursor: pointer;
}
.btn-link:hover {
  background: rgba(0, 0, 0, 0);
  transition: all 0.3s ease;
}
.btn-link:active {
  border: solid 2px rgba(0, 0, 0, 0);
  background: rgba(0, 0, 0, 0);
}

.btn-outline-primary {
  background: white;
  color: #007bff;
  border: solid 1px #007bff;
}
.btn-outline-primary:hover {
  background: #007bff;
  transition: all 0.3s ease;
  color: white;
}
.btn-outline-primary:active {
  background: #003e80;
}

.btn-outline-secondary {
  background: white;
  color: #6c757d;
  border: solid 1px #6c757d;
}
.btn-outline-secondary:hover {
  background: #6c757d;
  transition: all 0.3s ease;
  color: white;
}
.btn-outline-secondary:active {
  background: #313539;
}

.btn-outline-success {
  background: white;
  color: #1ac888;
  border: solid 1px #1ac888;
}
.btn-outline-success:hover {
  background: #1ac888;
  transition: all 0.3s ease;
  color: white;
}
.btn-outline-success:active {
  background: #0b573b;
}

.btn-outline-warning {
  background: white;
  color: #ffc107;
  border: solid 1px #ffc107;
}
.btn-outline-warning:hover {
  background: #ffc107;
  transition: all 0.3s ease;
  color: white;
}
.btn-outline-warning:active {
  background: #876500;
}

.btn-outline-danger {
  background: white;
  color: #d32752;
  border: solid 1px #d32752;
}
.btn-outline-danger:hover {
  background: #d32752;
  transition: all 0.3s ease;
  color: white;
}
.btn-outline-danger:active {
  background: #671328;
}

.btn-outline-info {
  background: white;
  color: #17a2b8;
  border: solid 1px #17a2b8;
}
.btn-outline-info:hover {
  background: #17a2b8;
  transition: all 0.3s ease;
  color: white;
}
.btn-outline-info:active {
  background: #093e47;
}

.btn-outline-dark {
  background: white;
  color: #343a40;
  border: solid 1px #343a40;
}
.btn-outline-dark:hover {
  background: #343a40;
  transition: all 0.3s ease;
  color: white;
}
.btn-outline-dark:active {
  background: black;
}

.btn-outline-light {
  background: white;
  color: #6c757d;
  border: solid 1px #6c757d;
}
.btn-outline-light:hover {
  background: #6c757d;
  transition: all 0.3s ease;
  color: white;
}
.btn-outline-light:active {
  background: #313539;
}

.btn-xs {
  height: 24px;
  padding: 2px 4px;
  font-size: 12px;
}

.btn-sm {
  height: 28px;
  padding: 4px 8px;
  font-size: 14px;
}

.btn-md {
  height: 36px;
  padding: 6px 10px;
  font-size: 16px;
}

.btn-lg {
  height: 44px;
  padding: 8px 12px;
  font-size: 18px;
}

.btn-xl {
  height: 48px;
  padding: 10px 14px;
  font-size: 20px;
}

.btn-xxl {
  height: 52px;
  padding: 12px 16px;
  font-size: 22px;
}

.btn-block {
  width: 100%;
}

.img-responsive {
  max-width: 100%;
  height: auto;
}

.img-rounded {
  border-radius: 3px;
}

.img-thumbnail {
  padding: 2px;
  width: 200px;
  height: 200px;
  border: 1px solid #6c757d;
}

.img-circle {
  border-radius: 50%;
}

.img-blur {
  filter: blur(8px);
}

.text-muted {
  color: #6c757d;
}

.text-primary {
  color: #007bff;
}

.text-secondary {
  color: #343a40;
}

.text-success {
  color: #1ac888;
}

.text-info {
  color: #17a2b8;
}

.text-warning {
  color: #ffc107;
}

.text-error {
  color: #d32752;
}

.bg-gray {
  background-color: #6c757d;
  color: white;
}

.bg-primary {
  background-color: #007bff;
  color: white;
}

.bg-secondary {
  background-color: #343a40;
  color: white;
}

.bg-success {
  background-color: #1ac888;
  color: white;
}

.bg-info {
  background-color: #17a2b8;
  color: white;
}

.bg-warning {
  background-color: #ffc107;
  color: #343a40;
}

.bg-error {
  background-color: #d32752;
  color: white;
}

.bg-light {
  background-color: #f8f9fa;
  color: #343a40;
}

.alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.alert-primary {
  color: #007bff;
  background-color: #cce5ff;
  border-color: #007bff;
}

.alert-secondary {
  color: #343a40;
  background-color: #e2e3e5;
  border-color: #343a40;
}

.alert-success {
  color: #1ac888;
  background-color: #d4edda;
  border-color: #1ac888;
}

.alert-danger {
  color: #d32752;
  background-color: #f8d7da;
  border-color: #d32752;
}

.alert-warning {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffc107;
}

.alert-info {
  color: #0c5460;
  background-color: #d1ecf1;
  border-color: #17a2b8;
}

.alert-light {
  color: #6c757d;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}

.alert-dark {
  color: black;
  background-color: #6c757d;
  border-color: #343a40;
}

.col-1 {
  background-color: #237f37;
  border: 1px solid black;
  height: 20px;
  box-sizing: border-box;
  flex-grow: 0;
  width: 8.3333333333%;
}

.col-2 {
  background-color: #84df19;
  border: 1px solid black;
  height: 20px;
  box-sizing: border-box;
  flex-grow: 0;
  width: 16.6666666667%;
}

.col-3 {
  background-color: #7db038;
  border: 1px solid black;
  height: 20px;
  box-sizing: border-box;
  flex-grow: 0;
  width: 25%;
}

.col-4 {
  background-color: #9d0da1;
  border: 1px solid black;
  height: 20px;
  box-sizing: border-box;
  flex-grow: 0;
  width: 33.3333333333%;
}

.col-5 {
  background-color: #d5a74c;
  border: 1px solid black;
  height: 20px;
  box-sizing: border-box;
  flex-grow: 0;
  width: 41.6666666667%;
}

.col-6 {
  background-color: #8367d2;
  border: 1px solid black;
  height: 20px;
  box-sizing: border-box;
  flex-grow: 0;
  width: 50%;
}

.col-7 {
  background-color: #0d6032;
  border: 1px solid black;
  height: 20px;
  box-sizing: border-box;
  flex-grow: 0;
  width: 58.3333333333%;
}

.col-8 {
  background-color: #b84378;
  border: 1px solid black;
  height: 20px;
  box-sizing: border-box;
  flex-grow: 0;
  width: 66.6666666667%;
}

.col-9 {
  background-color: #b112ce;
  border: 1px solid black;
  height: 20px;
  box-sizing: border-box;
  flex-grow: 0;
  width: 75%;
}

.col-10 {
  background-color: #8b1326;
  border: 1px solid black;
  height: 20px;
  box-sizing: border-box;
  flex-grow: 0;
  width: 83.3333333333%;
}

.col-11 {
  background-color: #dff042;
  border: 1px solid black;
  height: 20px;
  box-sizing: border-box;
  flex-grow: 0;
  width: 91.6666666667%;
}

.col-12 {
  background-color: #c021d0;
  border: 1px solid black;
  height: 20px;
  box-sizing: border-box;
  flex-grow: 0;
  width: 100%;
}

@media (min-width: 0) {
  .col-xs-1 {
    background-color: #62cf35;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }

  .col-xs-2 {
    background-color: #b27eab;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }

  .col-xs-3 {
    background-color: #6bb165;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }

  .col-xs-4 {
    background-color: #1a7c31;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }

  .col-xs-5 {
    background-color: #4065ac;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }

  .col-xs-6 {
    background-color: #0ce07b;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }

  .col-xs-7 {
    background-color: #38ad75;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }

  .col-xs-8 {
    background-color: #9bdd78;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }

  .col-xs-9 {
    background-color: #238684;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }

  .col-xs-10 {
    background-color: #0c31bd;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }

  .col-xs-11 {
    background-color: #37571b;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }

  .col-xs-12 {
    background-color: #237760;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }

  .container-xs {
    width: 100%;
    margin: 0 auto;
  }
}
@media (min-width: 576px) {
  .col-sm-1 {
    background-color: #3da6ce;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }

  .col-sm-2 {
    background-color: #4b6bae;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }

  .col-sm-3 {
    background-color: #c6bb2e;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }

  .col-sm-4 {
    background-color: #050f04;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }

  .col-sm-5 {
    background-color: #3b5d91;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }

  .col-sm-6 {
    background-color: #5eed10;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }

  .col-sm-7 {
    background-color: #09e6fb;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }

  .col-sm-8 {
    background-color: #d3151d;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }

  .col-sm-9 {
    background-color: #6867ed;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }

  .col-sm-10 {
    background-color: #3e6785;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }

  .col-sm-11 {
    background-color: #3cb4ef;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }

  .col-sm-12 {
    background-color: #26e1bf;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }

  .container-sm {
    width: 100%;
    margin: 0 auto;
  }
}
@media (min-width: 768px) {
  .col-md-1 {
    background-color: #8a22d0;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }

  .col-md-2 {
    background-color: #7e5c53;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }

  .col-md-3 {
    background-color: #c0e521;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }

  .col-md-4 {
    background-color: #657d64;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }

  .col-md-5 {
    background-color: #4940b2;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }

  .col-md-6 {
    background-color: #90f1d6;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }

  .col-md-7 {
    background-color: #df8d1c;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }

  .col-md-8 {
    background-color: #836402;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }

  .col-md-9 {
    background-color: #580cee;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }

  .col-md-10 {
    background-color: #cf5f32;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }

  .col-md-11 {
    background-color: #a7f03a;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }

  .col-md-12 {
    background-color: #7f6d1a;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }

  .container-md {
    width: 100%;
    margin: 0 auto;
  }
}
@media (min-width: 992px) {
  .col-lg-1 {
    background-color: #1a1c80;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }

  .col-lg-2 {
    background-color: #ca2a11;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }

  .col-lg-3 {
    background-color: #0cd7d1;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }

  .col-lg-4 {
    background-color: #18da87;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }

  .col-lg-5 {
    background-color: #3ca6ec;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }

  .col-lg-6 {
    background-color: #c355ba;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }

  .col-lg-7 {
    background-color: #720e92;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }

  .col-lg-8 {
    background-color: #6a8412;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }

  .col-lg-9 {
    background-color: #ec28c2;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }

  .col-lg-10 {
    background-color: #f65f0d;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }

  .col-lg-11 {
    background-color: #9df756;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }

  .col-lg-12 {
    background-color: #fc23bf;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }

  .container-lg {
    width: 100%;
    margin: 0 auto;
  }
}
@media (min-width: 1200px) {
  .col-xl-1 {
    background-color: #0120a5;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }

  .col-xl-2 {
    background-color: #70ace0;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }

  .col-xl-3 {
    background-color: #bcc8e6;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }

  .col-xl-4 {
    background-color: #55ab79;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }

  .col-xl-5 {
    background-color: #2344a1;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }

  .col-xl-6 {
    background-color: #99c92d;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }

  .col-xl-7 {
    background-color: #4fe496;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }

  .col-xl-8 {
    background-color: #89baff;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }

  .col-xl-9 {
    background-color: #191bdc;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }

  .col-xl-10 {
    background-color: #56c829;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }

  .col-xl-11 {
    background-color: #84c2a8;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }

  .col-xl-12 {
    background-color: #48f254;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }

  .container-xl {
    width: 100%;
    margin: 0 auto;
  }
}
@media (min-width: 1400px) {
  .col-xxl-1 {
    background-color: #b1e4a9;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }

  .col-xxl-2 {
    background-color: #022b20;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }

  .col-xxl-3 {
    background-color: #5e912b;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }

  .col-xxl-4 {
    background-color: #646a78;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }

  .col-xxl-5 {
    background-color: #8571c4;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }

  .col-xxl-6 {
    background-color: #b8dbdf;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }

  .col-xxl-7 {
    background-color: #66ae1e;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }

  .col-xxl-8 {
    background-color: #cca2aa;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }

  .col-xxl-9 {
    background-color: #e56c94;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }

  .col-xxl-10 {
    background-color: #9e70a3;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }

  .col-xxl-11 {
    background-color: #566eec;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }

  .col-xxl-12 {
    background-color: #cfa665;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }

  .container-xxl {
    width: 100%;
    margin: 0 auto;
  }
}
@media (min-width: 0) {
  .visible-xs {
    visibility: visible;
  }

  .hidden-xs {
    visibility: hidden;
  }
}
@media (min-width: 576px) {
  .visible-sm {
    visibility: visible;
  }

  .hidden-sm {
    visibility: hidden;
  }
}
@media (min-width: 768px) {
  .visible-md {
    visibility: visible;
  }

  .hidden-md {
    visibility: hidden;
  }
}
@media (min-width: 992px) {
  .visible-lg {
    visibility: visible;
  }

  .hidden-lg {
    visibility: hidden;
  }
}
@media (min-width: 1200px) {
  .visible-xl {
    visibility: visible;
  }

  .hidden-xl {
    visibility: hidden;
  }
}
@media (min-width: 1400px) {
  .visible-xxl {
    visibility: visible;
  }

  .hidden-xxl {
    visibility: hidden;
  }
}
@media print {
  .visible-print {
    visibility: visible;
  }

  .hidden-print {
    visibility: hidden;
  }
}
.col-1 {
  background-color: #04366d;
  border: 1px solid black;
  height: 20px;
  box-sizing: border-box;
  flex-grow: 0;
  width: 8.3333333333%;
}

.col-2 {
  background-color: #08dec4;
  border: 1px solid black;
  height: 20px;
  box-sizing: border-box;
  flex-grow: 0;
  width: 16.6666666667%;
}

.col-3 {
  background-color: #d8dbb7;
  border: 1px solid black;
  height: 20px;
  box-sizing: border-box;
  flex-grow: 0;
  width: 25%;
}

.col-4 {
  background-color: #ca0b35;
  border: 1px solid black;
  height: 20px;
  box-sizing: border-box;
  flex-grow: 0;
  width: 33.3333333333%;
}

.col-5 {
  background-color: #409e23;
  border: 1px solid black;
  height: 20px;
  box-sizing: border-box;
  flex-grow: 0;
  width: 41.6666666667%;
}

.col-6 {
  background-color: #3e8e49;
  border: 1px solid black;
  height: 20px;
  box-sizing: border-box;
  flex-grow: 0;
  width: 50%;
}

.col-7 {
  background-color: #ae9bba;
  border: 1px solid black;
  height: 20px;
  box-sizing: border-box;
  flex-grow: 0;
  width: 58.3333333333%;
}

.col-8 {
  background-color: #5b34e8;
  border: 1px solid black;
  height: 20px;
  box-sizing: border-box;
  flex-grow: 0;
  width: 66.6666666667%;
}

.col-9 {
  background-color: #fa4f81;
  border: 1px solid black;
  height: 20px;
  box-sizing: border-box;
  flex-grow: 0;
  width: 75%;
}

.col-10 {
  background-color: #df4eab;
  border: 1px solid black;
  height: 20px;
  box-sizing: border-box;
  flex-grow: 0;
  width: 83.3333333333%;
}

.col-11 {
  background-color: #923601;
  border: 1px solid black;
  height: 20px;
  box-sizing: border-box;
  flex-grow: 0;
  width: 91.6666666667%;
}

.col-12 {
  background-color: #01d077;
  border: 1px solid black;
  height: 20px;
  box-sizing: border-box;
  flex-grow: 0;
  width: 100%;
}

@media (min-width: 0) {
  .col-xs-1 {
    background-color: #b1f345;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }

  .col-xs-2 {
    background-color: #59de85;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }

  .col-xs-3 {
    background-color: #705a76;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }

  .col-xs-4 {
    background-color: #e8ee2c;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }

  .col-xs-5 {
    background-color: #0dea1f;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }

  .col-xs-6 {
    background-color: #6775d9;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }

  .col-xs-7 {
    background-color: #b0056c;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }

  .col-xs-8 {
    background-color: #b8b43c;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }

  .col-xs-9 {
    background-color: #9d159a;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }

  .col-xs-10 {
    background-color: #266e81;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }

  .col-xs-11 {
    background-color: #5c3ec4;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }

  .col-xs-12 {
    background-color: #bfd0a8;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }

  .container-xs {
    width: 100%;
    margin: 0 auto;
  }
}
@media (min-width: 576px) {
  .col-sm-1 {
    background-color: #7f396a;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }

  .col-sm-2 {
    background-color: #910946;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }

  .col-sm-3 {
    background-color: #c43c5d;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }

  .col-sm-4 {
    background-color: #fa351c;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }

  .col-sm-5 {
    background-color: #e6abb5;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }

  .col-sm-6 {
    background-color: #a3c2a1;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }

  .col-sm-7 {
    background-color: #45a493;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }

  .col-sm-8 {
    background-color: #170a1a;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }

  .col-sm-9 {
    background-color: #29ae16;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }

  .col-sm-10 {
    background-color: #ea0187;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }

  .col-sm-11 {
    background-color: #934405;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }

  .col-sm-12 {
    background-color: #ef9e7d;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }

  .container-sm {
    width: 100%;
    margin: 0 auto;
  }
}
@media (min-width: 768px) {
  .col-md-1 {
    background-color: #f2f087;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }

  .col-md-2 {
    background-color: #0a25ef;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }

  .col-md-3 {
    background-color: #3bd56b;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }

  .col-md-4 {
    background-color: #334260;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }

  .col-md-5 {
    background-color: #6cdcd0;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }

  .col-md-6 {
    background-color: #614029;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }

  .col-md-7 {
    background-color: #a154e4;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }

  .col-md-8 {
    background-color: #c1a154;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }

  .col-md-9 {
    background-color: #54cbe7;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }

  .col-md-10 {
    background-color: #eff0c9;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }

  .col-md-11 {
    background-color: #9b2ab2;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }

  .col-md-12 {
    background-color: #fc1ffd;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }

  .container-md {
    width: 100%;
    margin: 0 auto;
  }
}
@media (min-width: 992px) {
  .col-lg-1 {
    background-color: #b8c5b0;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }

  .col-lg-2 {
    background-color: #eed653;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }

  .col-lg-3 {
    background-color: #ab1482;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }

  .col-lg-4 {
    background-color: #4c550c;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }

  .col-lg-5 {
    background-color: #7953e6;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }

  .col-lg-6 {
    background-color: #aa4a94;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }

  .col-lg-7 {
    background-color: #f9b3c1;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }

  .col-lg-8 {
    background-color: #528895;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }

  .col-lg-9 {
    background-color: #504a55;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }

  .col-lg-10 {
    background-color: #8615ca;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }

  .col-lg-11 {
    background-color: #afc50e;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }

  .col-lg-12 {
    background-color: #62ade5;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }

  .container-lg {
    width: 100%;
    margin: 0 auto;
  }
}
@media (min-width: 1200px) {
  .col-xl-1 {
    background-color: #301265;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }

  .col-xl-2 {
    background-color: #9a39e2;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }

  .col-xl-3 {
    background-color: #bd7974;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }

  .col-xl-4 {
    background-color: #98739f;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }

  .col-xl-5 {
    background-color: #d40896;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }

  .col-xl-6 {
    background-color: #cfd4e1;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }

  .col-xl-7 {
    background-color: #baa50a;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }

  .col-xl-8 {
    background-color: #0f24a2;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }

  .col-xl-9 {
    background-color: #ceadf6;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }

  .col-xl-10 {
    background-color: #3e0dec;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }

  .col-xl-11 {
    background-color: #dd8ce5;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }

  .col-xl-12 {
    background-color: #01c186;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }

  .container-xl {
    width: 100%;
    margin: 0 auto;
  }
}
@media (min-width: 1400px) {
  .col-xxl-1 {
    background-color: #373c9a;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }

  .col-xxl-2 {
    background-color: #a04e7d;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }

  .col-xxl-3 {
    background-color: #91f6be;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }

  .col-xxl-4 {
    background-color: #7e04e1;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }

  .col-xxl-5 {
    background-color: #a37c64;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }

  .col-xxl-6 {
    background-color: #fc6578;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }

  .col-xxl-7 {
    background-color: #4d2810;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }

  .col-xxl-8 {
    background-color: #811d44;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }

  .col-xxl-9 {
    background-color: #0f028c;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }

  .col-xxl-10 {
    background-color: #910af5;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }

  .col-xxl-11 {
    background-color: #23f4cc;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }

  .col-xxl-12 {
    background-color: #402510;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }

  .container-xxl {
    width: 100%;
    margin: 0 auto;
  }
}
@media (max-width: 992px) {
  .nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }

  .navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
  }

  .navbar-brand {
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
  }

  .navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }

  .nav-link {
    display: block;
    padding: 0.5rem 1rem;
  }

  .navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.25rem;
  }

  .navbar-light .navbar-toggler-icon {
    background-image: url("../images/bars-solid.svg");
  }

  .navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
  }

  .navbar-text {
    display: inline-block;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
@media (min-width: 992px) {
  .nav {
    display: inline-block;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }

  .navbar-toggler-icon {
    display: none;
  }

  .navbar {
    position: relative;
    display: inline-flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
  }

  .navbar-brand {
    display: flex;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
  }

  .navbar-nav {
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }

  .nav-link {
    display: block;
    padding: 0rem 1rem;
  }

  .navbar-toggler {
    display: none;
  }

  .form-inline {
    padding-bottom: 0.5rem;
  }
}
.collapse.show {
  display: block;
}

.collapse {
  display: none;
}

.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-item {
  display: none;
  padding-left: 20px;
  min-width: 160px;
  z-index: 1;
}

.dropdown-item a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-item a:hover {
  background-color: #DDD;
}

.hidden {
  display: none;
}

.show {
  display: block;
}

.dropdown-toggle::after {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}

.navbar-light {
  background-color: #f8f9fa;
  color: black;
}

.navbar-dark {
  background-color: #343a40;
  color: white;
}

/*# sourceMappingURL=style.css.map */
