.col-1 {
  background-color: #bd0903;
  border: 1px solid black;
  height: 20px;
  box-sizing: border-box;
  flex-grow: 0;
  width: 8.3333333333%;
}

.col-2 {
  background-color: #046c3b;
  border: 1px solid black;
  height: 20px;
  box-sizing: border-box;
  flex-grow: 0;
  width: 16.6666666667%;
}

.col-3 {
  background-color: #7b8e40;
  border: 1px solid black;
  height: 20px;
  box-sizing: border-box;
  flex-grow: 0;
  width: 25%;
}

.col-4 {
  background-color: #7186f3;
  border: 1px solid black;
  height: 20px;
  box-sizing: border-box;
  flex-grow: 0;
  width: 33.3333333333%;
}

.col-5 {
  background-color: #338597;
  border: 1px solid black;
  height: 20px;
  box-sizing: border-box;
  flex-grow: 0;
  width: 41.6666666667%;
}

.col-6 {
  background-color: #d172c2;
  border: 1px solid black;
  height: 20px;
  box-sizing: border-box;
  flex-grow: 0;
  width: 50%;
}

.col-7 {
  background-color: #b0bfe6;
  border: 1px solid black;
  height: 20px;
  box-sizing: border-box;
  flex-grow: 0;
  width: 58.3333333333%;
}

.col-8 {
  background-color: #17f8fd;
  border: 1px solid black;
  height: 20px;
  box-sizing: border-box;
  flex-grow: 0;
  width: 66.6666666667%;
}

.col-9 {
  background-color: #15b462;
  border: 1px solid black;
  height: 20px;
  box-sizing: border-box;
  flex-grow: 0;
  width: 75%;
}

.col-10 {
  background-color: #3a4485;
  border: 1px solid black;
  height: 20px;
  box-sizing: border-box;
  flex-grow: 0;
  width: 83.3333333333%;
}

.col-11 {
  background-color: #cb80a2;
  border: 1px solid black;
  height: 20px;
  box-sizing: border-box;
  flex-grow: 0;
  width: 91.6666666667%;
}

.col-12 {
  background-color: #56c5f7;
  border: 1px solid black;
  height: 20px;
  box-sizing: border-box;
  flex-grow: 0;
  width: 100%;
}

@media (min-width: 0) {
  .col-xs-1 {
    background-color: #998239;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }

  .col-xs-2 {
    background-color: #b93a41;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }

  .col-xs-3 {
    background-color: #da47e5;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }

  .col-xs-4 {
    background-color: #3d09ad;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }

  .col-xs-5 {
    background-color: #264bc0;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }

  .col-xs-6 {
    background-color: #469b01;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }

  .col-xs-7 {
    background-color: #7a9cc7;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }

  .col-xs-8 {
    background-color: #6baa37;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }

  .col-xs-9 {
    background-color: #524b9a;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }

  .col-xs-10 {
    background-color: #31aef8;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }

  .col-xs-11 {
    background-color: #1ce369;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }

  .col-xs-12 {
    background-color: #dce351;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }

  .container-xs {
    width: 100%;
    margin: 0 auto;
  }
}
@media (min-width: 576px) {
  .col-sm-1 {
    background-color: #62782d;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }

  .col-sm-2 {
    background-color: #1e3c13;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }

  .col-sm-3 {
    background-color: #4b2aa8;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }

  .col-sm-4 {
    background-color: #6b7997;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }

  .col-sm-5 {
    background-color: #c3a0ae;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }

  .col-sm-6 {
    background-color: #1b7823;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }

  .col-sm-7 {
    background-color: #9c7615;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }

  .col-sm-8 {
    background-color: #6540ab;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }

  .col-sm-9 {
    background-color: #4a5036;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }

  .col-sm-10 {
    background-color: #b9cbb5;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }

  .col-sm-11 {
    background-color: #5dbd18;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }

  .col-sm-12 {
    background-color: #d09c8e;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }

  .container-sm {
    width: 100%;
    margin: 0 auto;
  }
}
@media (min-width: 768px) {
  .col-md-1 {
    background-color: #4726a7;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }

  .col-md-2 {
    background-color: #911ecf;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }

  .col-md-3 {
    background-color: #3d4eef;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }

  .col-md-4 {
    background-color: #2ae18e;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }

  .col-md-5 {
    background-color: #3c1dcd;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }

  .col-md-6 {
    background-color: #e09507;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }

  .col-md-7 {
    background-color: #d4c9eb;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }

  .col-md-8 {
    background-color: #0f23df;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }

  .col-md-9 {
    background-color: #5cc17e;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }

  .col-md-10 {
    background-color: #eb9c41;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }

  .col-md-11 {
    background-color: #8d930f;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }

  .col-md-12 {
    background-color: #740535;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }

  .container-md {
    width: 100%;
    margin: 0 auto;
  }
}
@media (min-width: 992px) {
  .col-lg-1 {
    background-color: #bcf15d;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }

  .col-lg-2 {
    background-color: #188d45;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }

  .col-lg-3 {
    background-color: #c5cdf9;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }

  .col-lg-4 {
    background-color: #88ce17;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }

  .col-lg-5 {
    background-color: #889a46;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }

  .col-lg-6 {
    background-color: #03e895;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }

  .col-lg-7 {
    background-color: #aa4e1d;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }

  .col-lg-8 {
    background-color: #765687;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }

  .col-lg-9 {
    background-color: #6eb320;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }

  .col-lg-10 {
    background-color: #91dee8;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }

  .col-lg-11 {
    background-color: #cadc48;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }

  .col-lg-12 {
    background-color: #389455;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }

  .container-lg {
    width: 100%;
    margin: 0 auto;
  }
}
@media (min-width: 1200px) {
  .col-xl-1 {
    background-color: #589859;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }

  .col-xl-2 {
    background-color: #e00bda;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }

  .col-xl-3 {
    background-color: #c3c9e3;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }

  .col-xl-4 {
    background-color: #2ad7df;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }

  .col-xl-5 {
    background-color: #73336f;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }

  .col-xl-6 {
    background-color: #b1313e;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }

  .col-xl-7 {
    background-color: #087f82;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }

  .col-xl-8 {
    background-color: #5711e1;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }

  .col-xl-9 {
    background-color: #781dc8;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }

  .col-xl-10 {
    background-color: #4788f3;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }

  .col-xl-11 {
    background-color: #d38292;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }

  .col-xl-12 {
    background-color: #fc6add;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }

  .container-xl {
    width: 100%;
    margin: 0 auto;
  }
}
@media (min-width: 1400px) {
  .col-xxl-1 {
    background-color: #2fd730;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }

  .col-xxl-2 {
    background-color: #925810;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }

  .col-xxl-3 {
    background-color: #6c9aef;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }

  .col-xxl-4 {
    background-color: #85de72;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }

  .col-xxl-5 {
    background-color: #5c64c0;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }

  .col-xxl-6 {
    background-color: #08f910;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }

  .col-xxl-7 {
    background-color: #9536f3;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }

  .col-xxl-8 {
    background-color: #257576;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }

  .col-xxl-9 {
    background-color: #cf156c;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }

  .col-xxl-10 {
    background-color: #cc6cda;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }

  .col-xxl-11 {
    background-color: #b59fe8;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }

  .col-xxl-12 {
    background-color: #101cfb;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }

  .container-xxl {
    width: 100%;
    margin: 0 auto;
  }
}
.row {
  display: flex;
  flex-flow: row wrap;
}

.col {
  background-color: #267710;
  flex: 1 0 0%;
  border: 1px solid black;
  height: 20px;
  box-sizing: border-box;
  flex-grow: 0;
}

.error {
  color: #d32752;
  border-color: #d32752;
  border-style: solid;
}

.notification {
  color: #1ac888;
  border-color: #1ac888;
  border-style: solid;
}

.container {
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

.container-fluid {
  width: 100%;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }

  .container-sm {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }

  .container-sm {
    max-width: 720px;
  }

  .container-md {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }

  .container-sm {
    max-width: 960px;
  }

  .container-md {
    max-width: 960px;
  }

  .container-lg {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }

  .container-sm {
    max-width: 1140px;
  }

  .container-md {
    max-width: 1140px;
  }

  .container-lg {
    max-width: 1140px;
  }

  .container-xl {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }

  .container-sm {
    max-width: 1320px;
  }

  .container-md {
    max-width: 1320px;
  }

  .container-lg {
    max-width: 1320px;
  }

  .container-xl {
    max-width: 1320px;
  }

  .container-xxl {
    max-width: 1320px;
  }
}
.disabled {
  background: #6c757d;
  cursor: not-allowed;
}
.disabled:hover {
  background: #6c757d;
}

.btn {
  height: 32px;
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 3px;
  border: solid 1px #6c757d;
}

.btn-success {
  background: #1ac888;
}
.btn-success:hover {
  background: #15a46f;
  transition: all 0.3s ease;
}
.btn-success:active {
  border: solid 2px #0b573b;
  background: #0b573b;
}

.btn-primary {
  background: #007bff;
}
.btn-primary:hover {
  background: #0067d6;
  transition: all 0.3s ease;
}
.btn-primary:active {
  border: solid 2px #003e80;
  background: #003e80;
}

.btn-secondary {
  background: #6c757d;
}
.btn-secondary:hover {
  background: #596167;
  transition: all 0.3s ease;
}
.btn-secondary:active {
  border: solid 2px #313539;
  background: #313539;
}

.btn-warning {
  background: #ffc107;
}
.btn-warning:hover {
  background: #dda600;
  transition: all 0.3s ease;
}
.btn-warning:active {
  border: solid 2px #876500;
  background: #876500;
}

.btn-danger {
  background: #d32752;
}
.btn-danger:hover {
  background: #b12145;
  transition: all 0.3s ease;
}
.btn-danger:active {
  border: solid 2px #671328;
  background: #671328;
}

.btn-info {
  background: #17a2b8;
}
.btn-info:hover {
  background: #128294;
  transition: all 0.3s ease;
}
.btn-info:active {
  border: solid 2px #093e47;
  background: #093e47;
}

.btn-light {
  background: #f8f9fa;
  color: #343a40;
}
.btn-light:hover {
  background: #e0e5e9;
  transition: all 0.3s ease;
}
.btn-light:active {
  border: solid 2px #aeb9c5;
  background: #aeb9c5;
}

.btn-dark {
  background: #343a40;
}
.btn-dark:hover {
  background: #222629;
  transition: all 0.3s ease;
}
.btn-dark:active {
  border: solid 2px black;
  background: black;
}

.btn-link {
  background: rgba(0, 0, 0, 0);
  color: #007bff;
  border: none;
  text-decoration: underline;
  cursor: pointer;
}
.btn-link:hover {
  background: rgba(0, 0, 0, 0);
  transition: all 0.3s ease;
}
.btn-link:active {
  border: solid 2px rgba(0, 0, 0, 0);
  background: rgba(0, 0, 0, 0);
}

.btn-outline-primary {
  background: white;
  color: #007bff;
  border: solid 1px #007bff;
}
.btn-outline-primary:hover {
  background: #007bff;
  transition: all 0.3s ease;
  color: white;
}
.btn-outline-primary:active {
  background: #003e80;
}

.btn-outline-secondary {
  background: white;
  color: #6c757d;
  border: solid 1px #6c757d;
}
.btn-outline-secondary:hover {
  background: #6c757d;
  transition: all 0.3s ease;
  color: white;
}
.btn-outline-secondary:active {
  background: #313539;
}

.btn-outline-success {
  background: white;
  color: #1ac888;
  border: solid 1px #1ac888;
}
.btn-outline-success:hover {
  background: #1ac888;
  transition: all 0.3s ease;
  color: white;
}
.btn-outline-success:active {
  background: #0b573b;
}

.btn-outline-warning {
  background: white;
  color: #ffc107;
  border: solid 1px #ffc107;
}
.btn-outline-warning:hover {
  background: #ffc107;
  transition: all 0.3s ease;
  color: white;
}
.btn-outline-warning:active {
  background: #876500;
}

.btn-outline-danger {
  background: white;
  color: #d32752;
  border: solid 1px #d32752;
}
.btn-outline-danger:hover {
  background: #d32752;
  transition: all 0.3s ease;
  color: white;
}
.btn-outline-danger:active {
  background: #671328;
}

.btn-outline-info {
  background: white;
  color: #17a2b8;
  border: solid 1px #17a2b8;
}
.btn-outline-info:hover {
  background: #17a2b8;
  transition: all 0.3s ease;
  color: white;
}
.btn-outline-info:active {
  background: #093e47;
}

.btn-outline-dark {
  background: white;
  color: #343a40;
  border: solid 1px #343a40;
}
.btn-outline-dark:hover {
  background: #343a40;
  transition: all 0.3s ease;
  color: white;
}
.btn-outline-dark:active {
  background: black;
}

.btn-outline-light {
  background: white;
  color: #6c757d;
  border: solid 1px #6c757d;
}
.btn-outline-light:hover {
  background: #6c757d;
  transition: all 0.3s ease;
  color: white;
}
.btn-outline-light:active {
  background: #313539;
}

.btn-xs {
  height: 24px;
  padding: 2px 4px;
  font-size: 12px;
}

.btn-sm {
  height: 28px;
  padding: 4px 8px;
  font-size: 14px;
}

.btn-md {
  height: 36px;
  padding: 6px 10px;
  font-size: 16px;
}

.btn-lg {
  height: 44px;
  padding: 8px 12px;
  font-size: 18px;
}

.btn-xl {
  height: 48px;
  padding: 10px 14px;
  font-size: 20px;
}

.btn-xxl {
  height: 52px;
  padding: 12px 16px;
  font-size: 22px;
}

.btn-block {
  width: 100%;
}

.img-responsive {
  max-width: 100%;
  height: auto;
}

.img-rounded {
  border-radius: 3px;
}

.img-thumbnail {
  padding: 2px;
  width: 200px;
  height: 200px;
  border: 1px solid #6c757d;
}

.img-circle {
  border-radius: 50%;
}

.img-blur {
  filter: blur(8px);
}

.text-muted {
  color: #6c757d;
}

.text-primary {
  color: #007bff;
}

.text-secondary {
  color: #343a40;
}

.text-success {
  color: #1ac888;
}

.text-info {
  color: #17a2b8;
}

.text-warning {
  color: #ffc107;
}

.text-error {
  color: #d32752;
}

.bg-gray {
  background-color: #6c757d;
  color: white;
}

.bg-primary {
  background-color: #007bff;
  color: white;
}

.bg-secondary {
  background-color: #343a40;
  color: white;
}

.bg-success {
  background-color: #1ac888;
  color: white;
}

.bg-info {
  background-color: #17a2b8;
  color: white;
}

.bg-warning {
  background-color: #ffc107;
  color: #343a40;
}

.bg-error {
  background-color: #d32752;
  color: white;
}

.bg-light {
  background-color: #f8f9fa;
  color: #343a40;
}

.alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.alert-primary {
  color: #007bff;
  background-color: #cce5ff;
  border-color: #007bff;
}

.alert-secondary {
  color: #343a40;
  background-color: #e2e3e5;
  border-color: #343a40;
}

.alert-success {
  color: #1ac888;
  background-color: #d4edda;
  border-color: #1ac888;
}

.alert-danger {
  color: #d32752;
  background-color: #f8d7da;
  border-color: #d32752;
}

.alert-warning {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffc107;
}

.alert-info {
  color: #0c5460;
  background-color: #d1ecf1;
  border-color: #17a2b8;
}

.alert-light {
  color: #6c757d;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}

.alert-dark {
  color: black;
  background-color: #6c757d;
  border-color: #343a40;
}

.col-1 {
  background-color: #59b493;
  border: 1px solid black;
  height: 20px;
  box-sizing: border-box;
  flex-grow: 0;
  width: 8.3333333333%;
}

.col-2 {
  background-color: #e5b068;
  border: 1px solid black;
  height: 20px;
  box-sizing: border-box;
  flex-grow: 0;
  width: 16.6666666667%;
}

.col-3 {
  background-color: #bf89e4;
  border: 1px solid black;
  height: 20px;
  box-sizing: border-box;
  flex-grow: 0;
  width: 25%;
}

.col-4 {
  background-color: #cf46d0;
  border: 1px solid black;
  height: 20px;
  box-sizing: border-box;
  flex-grow: 0;
  width: 33.3333333333%;
}

.col-5 {
  background-color: #b43c5d;
  border: 1px solid black;
  height: 20px;
  box-sizing: border-box;
  flex-grow: 0;
  width: 41.6666666667%;
}

.col-6 {
  background-color: #ce4645;
  border: 1px solid black;
  height: 20px;
  box-sizing: border-box;
  flex-grow: 0;
  width: 50%;
}

.col-7 {
  background-color: #09a361;
  border: 1px solid black;
  height: 20px;
  box-sizing: border-box;
  flex-grow: 0;
  width: 58.3333333333%;
}

.col-8 {
  background-color: #a88566;
  border: 1px solid black;
  height: 20px;
  box-sizing: border-box;
  flex-grow: 0;
  width: 66.6666666667%;
}

.col-9 {
  background-color: #93e5c6;
  border: 1px solid black;
  height: 20px;
  box-sizing: border-box;
  flex-grow: 0;
  width: 75%;
}

.col-10 {
  background-color: #bb3860;
  border: 1px solid black;
  height: 20px;
  box-sizing: border-box;
  flex-grow: 0;
  width: 83.3333333333%;
}

.col-11 {
  background-color: #4ae38b;
  border: 1px solid black;
  height: 20px;
  box-sizing: border-box;
  flex-grow: 0;
  width: 91.6666666667%;
}

.col-12 {
  background-color: #b6b2ce;
  border: 1px solid black;
  height: 20px;
  box-sizing: border-box;
  flex-grow: 0;
  width: 100%;
}

@media (min-width: 0) {
  .col-xs-1 {
    background-color: #5329aa;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }

  .col-xs-2 {
    background-color: #6463e4;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }

  .col-xs-3 {
    background-color: #e4ae4e;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }

  .col-xs-4 {
    background-color: #56d601;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }

  .col-xs-5 {
    background-color: #6d9c65;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }

  .col-xs-6 {
    background-color: #47ecc1;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }

  .col-xs-7 {
    background-color: #45a6c9;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }

  .col-xs-8 {
    background-color: #a5e40c;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }

  .col-xs-9 {
    background-color: #3a30b3;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }

  .col-xs-10 {
    background-color: #04f023;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }

  .col-xs-11 {
    background-color: #eb188f;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }

  .col-xs-12 {
    background-color: #522228;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }

  .container-xs {
    width: 100%;
    margin: 0 auto;
  }
}
@media (min-width: 576px) {
  .col-sm-1 {
    background-color: #c3cd49;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }

  .col-sm-2 {
    background-color: #bda562;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }

  .col-sm-3 {
    background-color: #6ae5aa;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }

  .col-sm-4 {
    background-color: #a0938d;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }

  .col-sm-5 {
    background-color: #fd0fe9;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }

  .col-sm-6 {
    background-color: #460d32;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }

  .col-sm-7 {
    background-color: #19ad46;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }

  .col-sm-8 {
    background-color: #5e9357;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }

  .col-sm-9 {
    background-color: #ec04f1;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }

  .col-sm-10 {
    background-color: #f57d8f;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }

  .col-sm-11 {
    background-color: #39c412;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }

  .col-sm-12 {
    background-color: #c94b0b;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }

  .container-sm {
    width: 100%;
    margin: 0 auto;
  }
}
@media (min-width: 768px) {
  .col-md-1 {
    background-color: #c1f091;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }

  .col-md-2 {
    background-color: #0ce378;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }

  .col-md-3 {
    background-color: #b79da0;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }

  .col-md-4 {
    background-color: #642186;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }

  .col-md-5 {
    background-color: #a5e6ae;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }

  .col-md-6 {
    background-color: #90691d;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }

  .col-md-7 {
    background-color: #f0a4ee;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }

  .col-md-8 {
    background-color: #da1ab0;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }

  .col-md-9 {
    background-color: #43afbb;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }

  .col-md-10 {
    background-color: #935eb6;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }

  .col-md-11 {
    background-color: #7c0b2f;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }

  .col-md-12 {
    background-color: #f1c0f9;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }

  .container-md {
    width: 100%;
    margin: 0 auto;
  }
}
@media (min-width: 992px) {
  .col-lg-1 {
    background-color: #1a6d3d;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }

  .col-lg-2 {
    background-color: #a186af;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }

  .col-lg-3 {
    background-color: #be608d;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }

  .col-lg-4 {
    background-color: #0ebc01;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }

  .col-lg-5 {
    background-color: #35acf0;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }

  .col-lg-6 {
    background-color: #d1cdbf;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }

  .col-lg-7 {
    background-color: #b10924;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }

  .col-lg-8 {
    background-color: #286534;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }

  .col-lg-9 {
    background-color: #a8e54b;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }

  .col-lg-10 {
    background-color: #a85c2f;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }

  .col-lg-11 {
    background-color: #2593a9;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }

  .col-lg-12 {
    background-color: #ae9dc8;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }

  .container-lg {
    width: 100%;
    margin: 0 auto;
  }
}
@media (min-width: 1200px) {
  .col-xl-1 {
    background-color: #c61936;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }

  .col-xl-2 {
    background-color: #e115f4;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }

  .col-xl-3 {
    background-color: #ad7832;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }

  .col-xl-4 {
    background-color: #6a22a4;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }

  .col-xl-5 {
    background-color: #8abdba;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }

  .col-xl-6 {
    background-color: #a0f11d;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }

  .col-xl-7 {
    background-color: #cfa7eb;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }

  .col-xl-8 {
    background-color: #8ce408;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }

  .col-xl-9 {
    background-color: #ecab92;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }

  .col-xl-10 {
    background-color: #327be3;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }

  .col-xl-11 {
    background-color: #2fa8aa;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }

  .col-xl-12 {
    background-color: #f89a0d;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }

  .container-xl {
    width: 100%;
    margin: 0 auto;
  }
}
@media (min-width: 1400px) {
  .col-xxl-1 {
    background-color: #e3ba69;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }

  .col-xxl-2 {
    background-color: #4b091a;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }

  .col-xxl-3 {
    background-color: #f03bd2;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }

  .col-xxl-4 {
    background-color: #3431dd;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }

  .col-xxl-5 {
    background-color: #a69c2e;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }

  .col-xxl-6 {
    background-color: #013ce5;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }

  .col-xxl-7 {
    background-color: #585f5c;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }

  .col-xxl-8 {
    background-color: #ca115a;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }

  .col-xxl-9 {
    background-color: #c62516;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }

  .col-xxl-10 {
    background-color: #216095;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }

  .col-xxl-11 {
    background-color: #2e83a2;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }

  .col-xxl-12 {
    background-color: #220241;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }

  .container-xxl {
    width: 100%;
    margin: 0 auto;
  }
}
@media (min-width: 0) {
  .visible-xs {
    visibility: visible;
  }

  .hidden-xs {
    visibility: hidden;
  }
}
@media (min-width: 576px) {
  .visible-sm {
    visibility: visible;
  }

  .hidden-sm {
    visibility: hidden;
  }
}
@media (min-width: 768px) {
  .visible-md {
    visibility: visible;
  }

  .hidden-md {
    visibility: hidden;
  }
}
@media (min-width: 992px) {
  .visible-lg {
    visibility: visible;
  }

  .hidden-lg {
    visibility: hidden;
  }
}
@media (min-width: 1200px) {
  .visible-xl {
    visibility: visible;
  }

  .hidden-xl {
    visibility: hidden;
  }
}
@media (min-width: 1400px) {
  .visible-xxl {
    visibility: visible;
  }

  .hidden-xxl {
    visibility: hidden;
  }
}
@media print {
  .visible-print {
    visibility: visible;
  }

  .hidden-print {
    visibility: hidden;
  }
}
.col-1 {
  background-color: #3d2dbc;
  border: 1px solid black;
  height: 20px;
  box-sizing: border-box;
  flex-grow: 0;
  width: 8.3333333333%;
}

.col-2 {
  background-color: #d5796c;
  border: 1px solid black;
  height: 20px;
  box-sizing: border-box;
  flex-grow: 0;
  width: 16.6666666667%;
}

.col-3 {
  background-color: #7be8b1;
  border: 1px solid black;
  height: 20px;
  box-sizing: border-box;
  flex-grow: 0;
  width: 25%;
}

.col-4 {
  background-color: #47bcf2;
  border: 1px solid black;
  height: 20px;
  box-sizing: border-box;
  flex-grow: 0;
  width: 33.3333333333%;
}

.col-5 {
  background-color: #89b2b4;
  border: 1px solid black;
  height: 20px;
  box-sizing: border-box;
  flex-grow: 0;
  width: 41.6666666667%;
}

.col-6 {
  background-color: #a87f2b;
  border: 1px solid black;
  height: 20px;
  box-sizing: border-box;
  flex-grow: 0;
  width: 50%;
}

.col-7 {
  background-color: #2f406c;
  border: 1px solid black;
  height: 20px;
  box-sizing: border-box;
  flex-grow: 0;
  width: 58.3333333333%;
}

.col-8 {
  background-color: #014534;
  border: 1px solid black;
  height: 20px;
  box-sizing: border-box;
  flex-grow: 0;
  width: 66.6666666667%;
}

.col-9 {
  background-color: #c7b272;
  border: 1px solid black;
  height: 20px;
  box-sizing: border-box;
  flex-grow: 0;
  width: 75%;
}

.col-10 {
  background-color: #cab26e;
  border: 1px solid black;
  height: 20px;
  box-sizing: border-box;
  flex-grow: 0;
  width: 83.3333333333%;
}

.col-11 {
  background-color: #84de31;
  border: 1px solid black;
  height: 20px;
  box-sizing: border-box;
  flex-grow: 0;
  width: 91.6666666667%;
}

.col-12 {
  background-color: #0298a6;
  border: 1px solid black;
  height: 20px;
  box-sizing: border-box;
  flex-grow: 0;
  width: 100%;
}

@media (min-width: 0) {
  .col-xs-1 {
    background-color: #20a068;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }

  .col-xs-2 {
    background-color: #424a38;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }

  .col-xs-3 {
    background-color: #827c79;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }

  .col-xs-4 {
    background-color: #6b55f5;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }

  .col-xs-5 {
    background-color: #04a38f;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }

  .col-xs-6 {
    background-color: #f3d7c1;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }

  .col-xs-7 {
    background-color: #855a4b;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }

  .col-xs-8 {
    background-color: #f7fbbe;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }

  .col-xs-9 {
    background-color: #b2af8f;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }

  .col-xs-10 {
    background-color: #9ce91b;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }

  .col-xs-11 {
    background-color: #d066aa;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }

  .col-xs-12 {
    background-color: #0e90d6;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }

  .container-xs {
    width: 100%;
    margin: 0 auto;
  }
}
@media (min-width: 576px) {
  .col-sm-1 {
    background-color: #3fa051;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }

  .col-sm-2 {
    background-color: #70eda0;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }

  .col-sm-3 {
    background-color: #d51617;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }

  .col-sm-4 {
    background-color: #04d4c6;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }

  .col-sm-5 {
    background-color: #fc6c24;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }

  .col-sm-6 {
    background-color: #4eccdc;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }

  .col-sm-7 {
    background-color: #0bcbce;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }

  .col-sm-8 {
    background-color: #f2343a;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }

  .col-sm-9 {
    background-color: #0a7fda;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }

  .col-sm-10 {
    background-color: #f51724;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }

  .col-sm-11 {
    background-color: #c1a631;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }

  .col-sm-12 {
    background-color: #a7d529;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }

  .container-sm {
    width: 100%;
    margin: 0 auto;
  }
}
@media (min-width: 768px) {
  .col-md-1 {
    background-color: #a2df55;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }

  .col-md-2 {
    background-color: #c27cbb;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }

  .col-md-3 {
    background-color: #6b59e4;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }

  .col-md-4 {
    background-color: #277109;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }

  .col-md-5 {
    background-color: #1322a3;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }

  .col-md-6 {
    background-color: #0cfa4a;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }

  .col-md-7 {
    background-color: #3381da;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }

  .col-md-8 {
    background-color: #80799e;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }

  .col-md-9 {
    background-color: #0e31b6;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }

  .col-md-10 {
    background-color: #fc13a3;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }

  .col-md-11 {
    background-color: #8378e2;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }

  .col-md-12 {
    background-color: #e3bbfd;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }

  .container-md {
    width: 100%;
    margin: 0 auto;
  }
}
@media (min-width: 992px) {
  .col-lg-1 {
    background-color: #c45d68;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }

  .col-lg-2 {
    background-color: #e1efe1;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }

  .col-lg-3 {
    background-color: #ebe1c5;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }

  .col-lg-4 {
    background-color: #aa554f;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }

  .col-lg-5 {
    background-color: #fc5d90;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }

  .col-lg-6 {
    background-color: #e1bc13;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }

  .col-lg-7 {
    background-color: #26044c;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }

  .col-lg-8 {
    background-color: #8d1a6a;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }

  .col-lg-9 {
    background-color: #56813c;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }

  .col-lg-10 {
    background-color: #cf1e8d;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }

  .col-lg-11 {
    background-color: #4e62d9;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }

  .col-lg-12 {
    background-color: #993999;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }

  .container-lg {
    width: 100%;
    margin: 0 auto;
  }
}
@media (min-width: 1200px) {
  .col-xl-1 {
    background-color: #e71811;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }

  .col-xl-2 {
    background-color: #f690df;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }

  .col-xl-3 {
    background-color: #5e9a75;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }

  .col-xl-4 {
    background-color: #09a7be;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }

  .col-xl-5 {
    background-color: #367fbb;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }

  .col-xl-6 {
    background-color: #780829;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }

  .col-xl-7 {
    background-color: #513b58;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }

  .col-xl-8 {
    background-color: #4bd93a;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }

  .col-xl-9 {
    background-color: #daffc1;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }

  .col-xl-10 {
    background-color: #752c60;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }

  .col-xl-11 {
    background-color: #ef2e6b;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }

  .col-xl-12 {
    background-color: #90a361;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }

  .container-xl {
    width: 100%;
    margin: 0 auto;
  }
}
@media (min-width: 1400px) {
  .col-xxl-1 {
    background-color: #6505a1;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }

  .col-xxl-2 {
    background-color: #2a9ab8;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }

  .col-xxl-3 {
    background-color: #abeb13;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }

  .col-xxl-4 {
    background-color: #7b413c;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }

  .col-xxl-5 {
    background-color: #eee2f1;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }

  .col-xxl-6 {
    background-color: #d32ad2;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }

  .col-xxl-7 {
    background-color: #1d72c8;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }

  .col-xxl-8 {
    background-color: #baef47;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }

  .col-xxl-9 {
    background-color: #bdf6b6;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }

  .col-xxl-10 {
    background-color: #73188e;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }

  .col-xxl-11 {
    background-color: #4b7aee;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }

  .col-xxl-12 {
    background-color: #2cb216;
    border: 1px solid black;
    height: 20px;
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }

  .container-xxl {
    width: 100%;
    margin: 0 auto;
  }
}
@media (max-width: 992px) {
  .nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }

  .navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
  }

  .navbar-brand {
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
  }

  .navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }

  .nav-link {
    display: block;
    padding: 0.5rem 1rem;
  }

  .navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.25rem;
  }

  .navbar-light .navbar-toggler-icon {
    background-image: url("../images/bars-solid.svg");
  }

  .navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
  }

  .navbar-text {
    display: inline-block;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.collapse.show {
  display: block;
}

.collapse {
  display: none;
}

.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
}

.nav-item {
  display: inline;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-item {
  display: none;
  background-color: #F1F1F1;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-item a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-item a:hover {
  background-color: #DDD;
}

.hidden {
  display: none;
}

.show {
  display: inline-block;
}

.dropdown-toggle::after {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}

.navbar-light {
  background-color: #f8f9fa;
  color: black;
}

.navbar-dark {
  background-color: #343a40;
  color: white;
}

.form-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

/*# sourceMappingURL=style.css.map */
